API_HOST=127.0.0.1
API_PORT=3000
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=pcm.serial-numbers
KAFKA_CLIENT_ID=pcm-serial-api
KAFKA_SSL=false
# KAFKA_SASL_MECHANISM=scram-sha-256
# KAFKA_SASL_USERNAME=
# KAFKA_SASL_PASSWORD=
